# Folder/s
data
models/resnet_storage
# Jupyter Notebook
.ipynb_checkpoints
experiments.ipynb
# Byte-compiled / optimized / DLL files
__pycache__/
# Black config file
pyproject.toml
# Pycharm
.idea
.vscode
# Environment variables
.env